<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cheq">
    <!-- Enables internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Users.BlankActivity"></activity>
        <activity
            android:name=".Users.RestaurantPageActivity"
            android:noHistory="true"
            android:screenOrientation="nosensor" /> <!-- SplashScreen -->
        <activity
            android:name=".Login.SplashScreen"
            android:noHistory="true"
            android:screenOrientation="nosensor"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LoginActivity -->
        <activity
            android:name=".Login.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme" /> <!-- RegistrationActivity -->
        <activity
            android:name=".Login.RegistrationActivity"
            android:noHistory="true"
            android:screenOrientation="nosensor" /> <!-- PasswordActivity -->
        <activity
            android:name=".Login.PasswordActivity"
            android:noHistory="true"
            android:screenOrientation="nosensor" /> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor" /> <!-- DoneActivity -->
        <activity
            android:name=".Login.DoneActivity"
            android:noHistory="true"
            android:screenOrientation="nosensor" /> <!-- RestaurantActivity -->
        <activity
            android:name=".Restaurant.RestaurantActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Restaurant.RestaurantAllQueuesActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Login.RestaurantOnboard.RestaurantOnboardingActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Login.RestaurantOnboard.RestaurantOnboardingMenuActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Users.UserActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".RestaurantInfo.RestaurantInfoActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>